<div class="box">
		<%= link_to (image_tag pin.image(:medium)), "#myModal#{pin.id}", "data-toggle" => "modal", class:"pin-img" %>
	<p class="description">
		<%= pin.description %>
	</p>
	<p>
		<strong>
			Posted by <%= link_to pin.user.name, pin.user %>
		</strong>
	</p>

	<div id="like_star_<%= pin.id %>">
		<%= render 'pins/star', :pin => pin %>
	</div>

	<% if current_user == pin.user %>
		<p>
			<%= link_to 'Edit', edit_pin_path(pin) %> | 
			<%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
		</p>
	<% end %>
</div><!-- End box -->

<!-- Modal Window for images -->
<%= render 'pins/modal', :pin => pin %>