<p><%= pluralize(pin.likes.count, 'like') %></p>
<% if user_signed_in? %>
	<p>
		<% unless pin.liking_users.include? current_user  %>
			<%= link_to likes_path(:pin_id => pin), class: "btn btn-mini", :method => :post, :remote => true do %>
				<i id="star_<%= pin.id %>" class="icon-heart"></i>
			<% end %>
		<% else %>
			<%= link_to like_path(user_like(pin.id)), class: "btn btn-danger btn-mini", :method => :delete, :remote => true do %>
		        <i id="star_<%= pin.id %>" class="icon-heart icon-white"></i>
		    <% end %>
		<% end %>
	</p>
<% end %>