<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<%= image_tag @pin.image %><br />
			<p class="description">
			  <%= @pin.description %>
			</p>
			<p class="footer">
			  <%= @pin.user.name %>
			</p>

			<div id="like_star_<%= @pin.id %>">
				<%= render 'pins/star', :pin => @pin %>
			</div>

			<% if current_user == @pin.user %>
				<%= link_to 'Edit', edit_pin_path(@pin) %> |
			<% end %>
			<%= link_to 'Back', pins_path %>
		</div>
	</div>
</div>