<div class="user-info">
  <h2><%= current_user.name %></h2>
  <p><%= current_user.email %></p>
</div>
<div id="pins">
  <% unless current_user.likes.blank? %>
    <% @pins.each do |pin| %>
      <div class="box">
        <%= link_to (image_tag pin.image(:medium)), "#myModal#{pin.id}", "data-toggle" => "modal" %>
        <p class="description"><%= pin.description %></p>
        <p>
          <strong>
            by <%= link_to "#{pin.user.name}", user_path(pin.user) %>
          </strong>
        </p>
        <p><%= pluralize(pin.likes.count, 'like') %></p>      
      </div>

      <!-- Modal Window for Images-->
      <%= render 'pins/modal', :pin => pin %>
      
    <% end %>
  <% else %>
    <div><p>Nothing liked yet.</p></div>
  <% end %>
</div>